{% extends 'base.html' %}
{% block content %}

<h1>Financial Health</h1>

<div class="container">
    <div class="row">
        <div class="col s8">
            <table class="striped">
                <tbody>
                    <tr>
                        <td>User</td>
                        <td>{{full_name}}</td>
                    </tr>
                    <tr>
                        <td>Yearly Income</td>
                        <td>${{ yearly_income }}</td>
                    </tr>
                    <tr>
                        <td>Monthly Income</td>
                        <td>${{ rounded_monthly_income }}</td>
                    </tr>
                    <tr>
                        <td>Yearly Expenses</td>
                        <td>${{ yearly_estimated_expenses }}</td>
                    </tr>
                    <tr>
                        <td>Monthly Expenses</td>
                        <td>${{ total_expenses }}</td>
                    </tr>
                    <tr>
                        <td>Yearly Bills</td>
                        <td>${{ yearly_bills }}</td>
                    </tr>
                    <tr>
                        <td>Monthly Bills</td>
                        <td>${{ monthly_bills }}</td>
                    </tr>
                    <tr>
                      <td>Essential Spending (Yearly)</td>
                      <td>${{ essential_spending }}</td>
                    </tr>
                    <tr>
                      <td>Nonessential Spending (Yearly)</td>
                      <td>${{ non_essential_spending }}</td>
                    </tr>
                    <tr>
                      <td>Yearly Savings</td>
                      <td>${{ savings }}</td>
                    </tr>
                    <tr>
                        <td>Nonessential Spending Score</td>
                        <td>{{ nonessential_score }}</td>
                    </tr>
                    <tr>
                        <td>Essential Spending Score</td>
                        <td>{{ essential_score }}</td>
                    </tr>
                    <tr>
                        <td>Savings Score</td>
                        <td>{{ savings_score }}</td>
                    </tr>
                    <tr>
                      <td>Financial Health Grade</td>
                      <td>{{ financial_health_grade}}</td>
                    </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
<div class="card">
  <div class="card-content">
    <span class="card-title">Recommendation Report</span>
        <p>Nonessential Spending: {{ nonessential_recommendation }}</p>
        <p>Essential Spending: {{ essential_recommendation }}</p>
        <p> Savings: {{ savings_recommendation}}</p>
</div>
{% endblock %}
