{% extends 'base.html' %} {% block content %}

<h1>About MoneyMap</h1>
<p>
  Welcome to MoneyMap, your compass to financial well-being and prosperity! At
  MoneyMap, we understand that the journey to financial success is unique for
  each individual. That's why we've created a powerful and intuitive platform
  designed to empower you on your financial adventure.
</p>

<div class="card">
  <div class="card-content">
    <span class="card-title">Navigating Your Financial Landscape</span>
    <p>
      I am a very simple card. I am good at containing small bits of
      information. I am convenient because I require little markup to use
      effectively.
    </p>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <span class="card-title">Your Financial Journey, Your Way</span>
    <p>
      Whether you're just starting to build your financial empire or looking to
      optimize your existing strategies, MoneyMap adapts to your needs.
      Seamlessly track your income, manage expenses, and gain insights into your
      spending habits. Our user-friendly interface makes it easy for you to take
      control of your finances and steer towards your financial goals.
    </p>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <span class="card-title">Features That Empower</span>

    <ul class="about-list">
      <li>
        • Budgeting Brilliance: Effortlessly create and manage budgets tailored
        to your lifestyle.
      </li>
      <li>
        • Expense Exploration: Dive into a detailed analysis of your spending
        patterns for smarter financial decisions
      </li>
      <li>
        • Income Insights: Maximize your earning potential with a clear view of
        your income streams.
      </li>
      <li>
        • Recommendations for Success: Receive personalized recommendations to
        enhance your financial health and make informed choices.
      </li>
    </ul>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <span class="card-title">Your Success is Our Priority</span>
    <p>
      At MoneyMap, we are committed to your financial success. Our team of
      experts is dedicated to providing you with the tools and knowledge needed
      to achieve your financial aspirations. Think of us as your financial
      co-pilot, guiding you towards a future of financial abundance.
    </p>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <span class="card-title">Join the MoneyMap Community</span>
    <p>
      Embark on your financial journey with MoneyMap and become part of a
      community that values financial empowerment. Let's map out your financial
      success together! Ready to take control of your financial destiny? Start
      your MoneyMap journey today!
    </p>
  </div>
</div>
<br />
<hr />
<p>Follow Us On Social Media!</p>
<footer>All Rights Reserved, &copy; 2023 MoneyMap</footer>
<br />
{% endblock %}
