{% extends 'base.html' %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col s12 m6">
      <h2>Text</h2>
    </div>

    <div class="col s12 m6">
      <img
        src="https://images.unsplash.com/photo-1449157291145-7efd050a4d0e?q=80&w=2970&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Image"
        class="row-img"
      />
    </div>
  </div>

  <div class="row">
    <div class="col s12 m6 order-s2">
      <img
        src="https://images.unsplash.com/photo-1499914485622-a88fac536970?q=80&w=2970&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Image"
        class="row-img"
      />
    </div>
    <div class="col s12 m6 order-s1">
      <h2>Text</h2>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m6">
      <h2>Text</h2>
    </div>

    <div class="col s12 m6">
      <img
        src="https://images.unsplash.com/photo-1565372519925-842b7778defb?q=80&w=2971&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Image"
        class="row-img"
      />
    </div>
  </div>
</div>
{% endblock %}
