body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  padding-top: 0;
  text-align: right;
  background-color: #018060;
}

a:hover {
  color: #dcbb57;
}

.moneymap-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.nav-wrapper {
  background-color: #018060;
}

.row-img {
  width: 100%;
  height: auto;
}
