body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
h4{
  color: rgba(220, 187, 87, 0.75);
  text-decoration: underline;
  text-emphasis: bold;
}
main {
  flex: 1 0 auto;
}

footer.page-footer {
  padding-top: 0;
  text-align: right;
  background-color: #018060;
}
.containter{
  margin: 0;
  width: 100vw;
}
a:hover {
  color: #dcbb57;
}

.btn {
  background-color: #018060;
}

.btn:hover {
  color: #dcbb57;
  background-color: #317058;
}

.moneymap-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.nav-wrapper {
  background-color: #018060;
}

.row-img {
  width: 100%;
  height: auto;
}

img {
 border-radius: 12px;
}

.table-container {
  margin-left: 0px;
}

div.col.s8.table-col {
  padding: 0px;
}

.homepage-body {
  background: linear-gradient(rgba(220, 187, 87, 0.75), rgba(9, 139, 84, 0.75));
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
.home-container{
  padding-top: 15px;
  width: 100%;
}
.homepage-header h1 {
  font-size: 5vw;
  /* color: #dcbb57; */
  text-transform: uppercase;
}

.homepage-header span {
  color: #018060;
}

.homepage-body p {
  font-size: 20px;
  padding-right: 10vw;
}

.homepage-content {
  margin-top: 10vw;
}

#text-box{
  padding-right: 30px;
  padding-left: 30px;
}

#img-box{
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.home-text{
  padding-top: 10px;
}